@model IEnumerable<SpeakerIO.Web.Data.Model.Submission>

<h2>Subimssions</h2>

<table>
@foreach( var submission in @Model)
{
    <tr>
        <td>@submission.Speaker.Name</td>
        <td>@submission.Title</td>
        <td>@submission.Abstract</td>
    </tr>
}
</table>