<div class="row">
    <div class="hero-unit">
        <h1>SpeakerIO</h1>
    </div>
</div>
<div class="row">
    @Html.ActionLink("Organizer/Home", "Index", "Home", new{area = "Organizer"}, null)
</div>
